name: Test Build and Push
#when to run the workflow
on: [push]
# define our jobs
jobs:
  test-and-build: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 # checkout specific code you pushed to run this
    - uses: action/setup-node@v2 # ubuntu latest does not coem preinstalled with node so this installs it
      with: 
        node-version: '17'
      # defining our own steps
    - run: yarn install
    - run: yarn test
    - run: yarn build
    